<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.consultingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".UI.ContactUsActivity"></activity>
        <activity android:name=".MainActivity" />


        <activity android:name=".UI.ConsigneActivity" />
        <activity android:name=".UI.EditAnnonceActivity" />
        <activity android:name=".UI.MyAnnonceActivity" />
        <activity android:name=".UI.ProfilActivity" />
        <activity android:name=".UI.AnnonceActivity" />
        <activity android:name=".UI.LogInActivity" />
        <activity android:name=".UI.SignInActivity" />
        <activity android:name=".UI.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>